<div class="footer">
    <div class="col-md-12 offset-md-1">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <ul class="list-unstyled quick-links">
                    <li>facebook-@wehappydolphins</li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 text">
                <ul class="list-unstyled quick-links">
                    <li>Contact-7349164736</li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 text">
                <ul class="list-unstyled quick-links">
                    <li>Mail-wehappydolphins@gmail.com</li>
                </ul>
            </div>
        </div>
    </div>
</div>