<div class="gen-container">
    <div class="cover-img">
        <a>
            <img class="d-block w-100 cover-image" src="../../assets/dolphins.jpg" alt="First slide">
        </a>
    </div>
    <div>
        <div class="tabs">
            <button type="button" class="btn btn-danger gen-button">Home</button>
            <button type="button" class="btn btn-success gen-button" routerLink="gallery">Gallery</button>
            <button type="button" class="btn btn-warning gen-button" routerLink="enquiry">Enquiry</button>
        </div>

        <div class="row">

            <div class="col-sm-4 gen-col">
                <div><iframe src="https://docs.google.com/forms/d/e/1FAIpQLScACabN6Kd8mEIExg7M3oUirtTd65v1CdXzVp_nVzaT100V7w/viewform?embedded=true" width="400" height="400" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe></div>
                <div>
                    <div class="bar" style="background-color: #e53935;"></div>
                </div>

            </div>
            <div class="col-sm-4 gen-col">

                <div class="bar" style="background-color: #fdd835;"></div>
            </div>
            <div class="col-sm-4 gen-col">

            </div>
        </div>
    </div>

    <app-footer></app-footer>
</div>