.widget-title {
    margin-top: 4rem;
    text-align: center;
    font-family: 'Salsa', cursive;
    font-size: 42px;
    color: #704825;
}
.widget-title::after {
    background-color: #ffc107;
    content: '';
    display: block;
    margin: 1rem auto 0 auto;
    width: 60px;
    height: 4px;
    border-radius: 2px;
}

.widget-circle {
    position: relative;
    border-radius: 50%;
    width: 105px;
    height: 105px;
    margin: 1rem auto;
    line-height: 110px;
    text-align: center;
}
.nav-button-col {
    text-align: center;
}
.nav-button {
    width: 50%;
    color: #ffffff;
    font-weight: bold;
}
.avatar {
    height: 60px;
    max-height: 50%;
    max-width: 100%;
    vertical-align: middle;
}

.withImage {
    height: 100px;
    max-width: 100%;
    vertical-align: middle;
}

.widget-circle-title {
    width: 100%;
    text-align: center;
    margin: 2rem 0;
    font-size: 28px;
    line-height: 1.2;
    word-spacing: 999px;
    font-family: 'Salsa', cursive;
}

.widget-circle-description {
    padding-bottom: 4rem;
    text-align: center;
    font-size: 16px;
    color: #777;
    font-family: 'Open Sans',sans-serif;
}

.action-content-box {
    line-height: 1.2;
    font-size: 42px;
    float: left;
    max-width: 75%;
    font-weight: 300;
}

.action-button {
    float: right;
    font-weight: bold;
    color: #218acb;
    max-width: 25%;
}

.action-title {
    font-family: 'Salsa', cursive;
    font-weight: normal;
    color: #218acb;
}

.ztl-button {
    color: #ffffff;
    cursor: pointer;
    background-color: #ffc107;
    border-radius: 5px;
    border: none;
    line-height: 26px;
    font-size: 18px !important;
    text-decoration: none;
    display: inline-block;
    padding: 7px 20px;
}

.popular-courses {
    margin-top: 2rem;
}

.ztl-widget-description {
    font-size: 16px;
    text-align: center;
    padding-bottom: 4rem;
    text-align: center;
    font-size: 16px;
    margin-top: 2rem;
    color: #777;
    font-family: 'Open Sans',sans-serif;
}
.item {
    margin: 3rem auto 2rem auto;
}
.item-circle-top {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -60px;
    border-radius: 50%;
    position: absolute;
    text-align: center;
    line-height: 120px;
}
.item-circle-top img {
    max-height: 50%;
    max-width: 100%;
    vertical-align: middle;
}
.item-course-1 {
    text-align: center;
    width: 224px;
    min-height: 250px;
    border-radius: 20px;
    position: relative;
}
.item-course-title {
    color: #ffffff;
    text-align: center;
    font-size: 24px;
    font-family: 'Salsa', cursive;
    padding-top: 4rem;
}
.item-course-sub-title {
    text-align: center;
    font-size: 18px;
    font-family: 'Salsa', cursive;
    color: #fff;
    padding: 0 0 20px 0;
}
.item-course-description {
    width: 100%;
    padding: 10px 25px;
    box-sizing: border-box;
    color: #fff;
    font-size: 16px;
}
.item-footer-phantom {
    opacity: 0.2;
    position: absolute;
    bottom: 0px;
    left: -2rem;
    right: auto;
    width: 40%;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}
@media only screen and (max-width: 767px) {
    .ztl-courses-wrapper .item {
    margin: 8rem auto 2rem auto;
    }
}

.carousel-item {
    background-color: #f25141;
    height: 400px;
}
.carousel-caption {
    margin: 0;
    color: white;
    text-align: center;
}
.delimiter {
    height: 1px;
    width: 60px;
    background-color: #fff;
    margin: 3rem auto;
}
.testimonial-content {
    font-style: italic;
    padding-top:1rem;
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}

.bg-testimonial-img {
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.author {
    font-size: 16px;
    margin-bottom: 4rem;
    font-style: italic;
}

.images {
    margin-top: 2rem;
    width: 11rem;
    height: 9rem;
}

.view-button {
    text-align: center;
    margin-bottom: 5rem;
    margin-top: 2rem;
}

.gen-col {
    position: relative;
    display: inline-block;
}


.announcement {
    margin-left: 3rem;
    position: absolute;
}

.announcements {
    width: 98%;
    margin: 0;
    font-weight: bold;
    margin-top: 1rem;
    color: #eee;
    padding: 10px;
    border: 10px solid #B78240;
    background-color: #497959;
}

/* Footer */

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #218acb;
    color: white;
    text-align: center;
    // padding-right: 12rem;
}

li {
    padding-top: 0.5rem;
}

@media only screen and (max-width: 600px) {
    .footer {
        text-align: center;
        position: relative;
        z-index: 100;
        top: 100%;
        margin-top: 5rem;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #218acb;
        color: white;
        padding-right: 0rem;
    }

    .widget-circle {
        position: relative;
        border-radius: 50%;
        width: 80px;
        height: 80px;
        margin: 1rem auto;
        line-height: 80px;
        text-align: center;
    }
    .avatar {
        height: 50px;
        max-height: 50%;
        max-width: 100%;
        vertical-align: middle;
    }

    .withImage {
        height: 75px;
        max-width: 100%;
        vertical-align: middle;
    }

    
.widget-circle-title {
    width: 100%;
    text-align: center;
    margin: 2rem 0;
    font-size: 20px;
    line-height: 1.2;
    word-spacing: 999px;
    font-family: 'Salsa', cursive;
}
}

@media only screen and (max-width: 600px) {
    .announcement {
        margin-left: 1rem;
        position: absolute;
       
    }
    .announcement-col {
        margin-top: 2rem; 
    }
    .announcements {
        margin: auto;
        margin-top: 1rem;
        align-items: center;
    }
    .view-button {
        text-align: center;
    }
    .carousel-item {
        height: 600px;
    }
}

.pic-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .row {
      margin-right: 0px;
      margin-left: 0px;
  }

  .text {
      padding-right: 0px;
      padding-left: 0px !important;
  }

  .footer-ref {
      color: #ffffff;
      text-decoration: underline;
  }

  .footer-icon {
      height: 2rem;
      width: 2rem;
  }